@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.my-font {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

body {
    font-family: "Roboto", sans-serif;

}

.hide{
    display: none !important;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}
.no-wrap{
    flex-wrap: nowrap;
}

.gap-1 {
    gap: 8px;
}

.gap-2 {
    gap: 15px;
}

.gap-3 {
    gap: 30px;
}

.flex-grow {
    flex-grow: 1;
}

.m-1 {
    margin: 8px;
}

.m-2 {
    margin: 15px;
}

.m-3 {

    margin: 30px;
}

.f-wt-1 {
    font-weight: 600;
}

.f-wt-2 {
    font-weight: 900;
}

.pd-1 {
    padding: 8px;

}

.pd-2 {
    padding: 15px 20px;
}

.pd-3 {
    padding: 30px;
}


.transparent {
    background-color: transparent;

}

.b-rad-1 {
    border-radius: 5px;
}


.b-rad-2 {
    border-radius: 10px;
}

.bg-black {
    background-color: black;
}

.color-white {
    color: white;
}

.border-1 {
    border: 1px solid rgb(240, 240, 240);
}

.border-2 {
    border: 1px solid black;
}

.bg-orange {
    background-color: #ff5200;

}

.f-0 {
    font-size: 13px;
}

.f-1 {
    font-size: 25px;
}

.f-2 {
    font-size: 30px;
}

.f-3 {
    font-size: 50px;

}

.cart {
    max-width: 300px;
}

.navigation-button button {

    padding: 10px;
    background-color: rgb(202, 196, 196);
    margin: 5px;
    border: none;
    border-radius: 50%;
}

.pointer {
    cursor: pointer;
}

.dineuts {
    background-color: rgb(250, 250, 250);
    width: 320px;
    height: auto;
    display: block;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 0 auto;
    overflow-x: hidden;
    border-radius: 10px;
    font-size : 14px ;

}

.dineuts .dineut-cart-img {
    position: relative;
}

.dineuts .dineut-cart-img > img {
    width: 100%;
    height: 200px;
}

.dineuts  .ratingAndTag {
    position: absolute;
    color: white;
    bottom: 10px;
    display : flex ;
   justify-content: space-between;
   width: 100%;
   padding : 0px 5px ;
}

.dineuts .type{
    display : flex ;
    justify-content: space-between;
    padding : 0px 5px ;
    font-size : 13px ; 
    color: rgb(2 6 12 / 60%) ;


}


.dineuts .venue{
    display : flex ;
    justify-content: space-between;
    padding : 0px 5px ; 
    font-size : 13px ; 
    color: rgb(2 6 12 / 60%) ;

}

.dineuts .venue>div:first-child{
    width: 80%;
    white-space: nowrap;        /* Don't wrap to the next line */
    overflow: hidden;           /* Hide overflowed content */
    text-overflow: ellipsis;    /* Show "..." for clipped text */
   
}

 .dineuts .offerings{
    display: flex;
    gap : 5px ;
}
.dineuts .offerings > div{
    padding : 5px ;
    background-color: #e5e5e7;
    margin : 5px ;
    font-size : 13px ;
    border-radius : 5px ;
    color: rgb(2 6 12 / 60%) ;
    

    
    
}



.dineuts .restaurants-offers{

    background-color: rgb(9, 155, 9);
    border : none ;
    padding :10px 5px ;
    border-radius: 5px;
    color : white ;

}

.dineuts .restaurants-offers{

    background-color: rgb(27, 166, 114);
    border : none ;
    padding :10px 5px ;
    border-radius: 5px;
    color : white ;
    display : flex ;
    justify-content: space-between;

}

.dineuts .bank-offers{

    background-color: #c8f9e5;
    border : none ;
    padding :10px 5px ;
    border-radius: 5px;
    color : rgb(26, 146, 102) ;
    display : flex ;
    justify-content: space-between;



}


