
body{
    margin: 0;
    padding: 0;
    background-color: black;
    height : 100vh ;
    display : flex ;
    justify-content: center;
    align-items: center;
    color : white ;
}


button{
    width: 100px;
    height: 100px;
    border : 1px solid rgb(31, 30, 30) ;
    box-shadow: 5px 5px 5px rgb(26, 25, 25);
    border-radius: 5px;
}


/* [data-color="red"]{
    background-color: red;
} */

p{
    padding : 5px ;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(43, 40, 40) ;
    width: fit-content;
    border-radius: 4px;
    
}